<mat-toolbar color="primary">
    <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<div class="container">
    <mat-grid-list
        cols="2"
        rowHeight="2:1">
        <mat-grid-tile>
            <p>Main theme:</p>
            <section>
                <div class="example-label">Flat</div>
                <div class="example-button-row">
                    <button mat-flat-button>Basic</button>
                    <button
                        (click)="onClick($event)"
                        mat-flat-button
                        color="primary">
                        Primary
                    </button>
                    <button
                        mat-flat-button
                        color="accent">
                        Accent
                    </button>
                    <button
                        mat-flat-button
                        color="warn">
                        Warn
                    </button>
                    <button
                        mat-flat-button
                        disabled>
                        Disabled
                    </button>
                    <a
                        mat-flat-button
                        href="https://www.google.com/"
                        target="_blank"
                        >Link</a
                    >
                </div>
            </section></mat-grid-tile
        >
        <mat-grid-tile>
            <p>Alternative theme:</p>
            <section class="alternate-theme">
                <div class="example-label">Flat</div>
                <div class="example-button-row">
                    <button mat-flat-button>Basic</button>
                    <button
                        mat-flat-button
                        color="primary">
                        Primary
                    </button>
                    <button
                        mat-flat-button
                        color="accent">
                        Accent
                    </button>
                    <button
                        mat-flat-button
                        color="warn">
                        Warn
                    </button>
                    <button
                        mat-flat-button
                        disabled>
                        Disabled
                    </button>
                    <a
                        mat-flat-button
                        href="https://www.google.com/"
                        target="_blank"
                        >Link</a
                    >
                </div>
            </section>
        </mat-grid-tile>
    </mat-grid-list>
</div>
